{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram</title>

  <link rel="stylesheet" type="text/css" href="{% static 'assets/style.css' %}" />
</head>

<body>

  <div id="content-container">

    <!--Phone's pictures section-->
    <section class="phones">
      <img src="{% static 'assets/img/phones.png' %}" alt="pictures on phone" class="phone-image">
      <div class="display-phone">
        <img class="picture" src="{% static 'assets/img/photo-1.png' %}" alt="#">
        <img class="picture" src="{% static 'assets/img/photo-2.png' %}" alt="#">
        <img class="picture" src="{% static 'assets/img/photo-3.png' %}" alt="#">
        <img class="picture" src="{% static 'assets/img/photo-4.png' %}" alt="#">
        <img class="picture" src="{% static 'assets/img/photo-5.png' %}" alt="#">
      </div>
    </section>
    <!--User's log in section-->
    <section class="user">

      <div class="login-container">

        <!--Instagram Logo-->
        <div class="instagram-logo-box">
          <img class="instagram-logo" src="{% static 'assets/img/instagram-logo.png' %}">
        </div>
        <!--Form Login-->
        <form id="login-post" method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <div class=" text-center my-4">
                <p class="text-primary_red ">
                    Email or password invalid!
                </p>
               
            </div>
            {% endif %}
          <div class="inputs-container">
            <input type="text" name="login" type="email" id="id_login" placeholder="Email">
          </div>
          <div class="inputs-container">
            <input type="password" name="password" id="id_password" placeholder="Password">
          </div>
          <button class="login-button" type="submit">Log In</button>

          <div class="or-container">
            <div class="line"></div>
            <div class="or">OR</div>
            <div class="line"></div>
          </div>

          <!--Facebook login-->
          <div class="facebook-container">
            <a class="facebook-login" href="#"><img class="facebook-logo"
                src="{% static 'assets/img/facebook-logo.png' %}">Log in
              with Facebook</a>
          </div>
        </form>

        <!--Password recovery-->
        <a class="password-forgot" href="{% url 'account_reset_password' %}">Forgot password?</a>
      </div>

      <!--Sign up-->
      <div class="signup-container">
        <p>Don't have an account? <a class="signup" href="{% url 'account_signup' %}">Sign up</a></p>
      </div>

      <!--App's download-->
      <div class="get-container">
        <p>Get the app.</p>
        <div class="download-container">
          <a class="download-appstore" href="#" target="_blank"><img class="appstore"
              src="{% static 'assets/img/applestore-logo.png' %}"></a>
          <a class="download-googleplay" href="#" target="_blank"><img class="googleplay"
              src="{% static 'assets/img/googleplay-logo.png' %}"></a>
        </div>
      </div>

    </section>

  </div>

  <footer class="page-footer">

    <div class="links-container">
      <ul class="links-list">
        <li>
          <a class="link" href="#" target="_blank">ABOUT</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">PRESS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">API</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">JOBS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">PRIVACY</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">TERMS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">LOCATIONS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">TOP ACCOUNTS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">HASHTAGS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">LANGUAGE</a>
        </li>
      </ul>
    </div>

    <div class="footer-span-container">
      <span class="footer-span">
        © 2020 INSTAGRAM FROM FACEBOOK
      </span>
    </div>
  </footer>
</body>

</html>