{% extends "base.html" %}
{% load static %}
{% block content %}
<>
    <main>
        <div class="log-in-container pt-5">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="log-in">
                <h2>Create Post</h2>
                <div class="log-in-form">
                    {{ form.as_p }}
                    <button class="log-in-button" type="submit">Update Details</button>
                </div>
            </div>
        </form>

    </main>
{% endblock content %}